<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Corben:700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div class="button-group">
    <input type="button" name="up" value="&#8593;" id="up"/>
    <input type="button" name="down" value="&#8595;" id="down"/>
    <input type="button" name="left" value="&#8592;" id="left"/>
    <input type="button" name="right" value="&#8594;" id="right"/>
</div>

<div class="stats">
    <div class="title">YAP: yet another platformer</div>
    <div class="coins">
        <div class="counter">0</div>
    </div>
    <div class="health"></div>
</div>
<div class="canvas-container">
    <div class="leaderboard">
        <ol id="leader-list"></ol>
    </div>
    <canvas id='canvas'></canvas>
</div>

<div class="modal">
    <p id="gameover"></p>
    <p id="greeting"></p>
    <input type="text" id="playerName" placeholder="Player name"/>
    <button id="submit-modal">Play</button>
</div>

<script src="/javascripts/lib/jquery-2.0.3.min.js"></script>
<script src="/javascripts/lib/physics/physicsjs-full-0.6.0.min.js"></script>
<script src="/javascripts/globals.js"></script>
<script src="/javascripts/Graphics.js"></script>
<script src="/javascripts/Entity.js"></script>
<script src="/javascripts/Camera.js"></script>
<script src="/javascripts/Level.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>