body {
  padding: 50px;
  font-family: 'Corben';
  background: #ffffff;
}
a {
  color: #00b7ff;
}
.button-group {
  display: none;
}
.button-group input {
  font-size: 5em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
}
canvas {
  width: 1050px;
  height: 700px;
}
.canvas-container {
  background: url('../images/hud/stoneCenter.png');
  width: 1300px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}
.stats {
  height: 52px;
  width: 1300px;
  position: relative;
  margin: auto;
  padding-bottom: 5px;
  font-family: 'Corben';
}
.stats > * {
  position: absolute;
  top: 0;
  height: 47px;
  background-repeat: no-repeat;
}
.stats .title {
  left: 0;
  color: #d91d1d;
  font-size: 42px;
}
.stats .coins {
  right: 120px;
  width: 100px;
  background-image: url('../images/hud/hud_coins.png');
}
.stats .coins .counter {
  font-size: 36px;
  color: #e3b602;
  margin-left: 58px;
}
.stats .health {
  right: 0;
  width: 53px;
  background-image: url('../images/hud/hud_heartFull.png');
}
.stats .health.half {
  background-image: url('../images/hud/hud_heartHalf.png');
}
.stats .health.empty {
  background-image: url('../images/hud/hud_heartEmpty.png');
}
.leaderboard {
  position: absolute;
  width: 250px;
  height: 100%;
  right: 0;
  top: 0;
  background: url('../images/hud/castleCenter.png');
}
.leaderboard ol {
  font-size: 18px;
  color: #ffffff;
}
.leaderboard ol li.current {
  color: #d91d1d;
}
.leaderboard ol li span {
  margin-left: 10px;
  color: #d91d1d;
}
.modal {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 450px;
  height: 170px;
  background-color: #ffffff;
  border: 10px solid #d91d1d;
  font-size: 24px;
  text-align: center;
  padding: 40px;
}
.modal > * {
  display: block;
  margin: auto;
}
.modal p {
  font-size: 28px;
  margin-bottom: 15px;
}
.modal p > span {
  color: #d91d1d;
}
.modal input {
  font-family: 'Corben';
  font-size: 28px;
  border: 5px solid black;
  margin-bottom: 30px;
  padding: 10px;
}
.modal button {
  font-family: 'Corben';
  font-size: 36px;
  color: #d91d1d;
  border: 5px solid #d91d1d;
  background-color: #ffffff;
  padding: 5px;
}
