body {
  padding: 50px;
  font-family: 'Corben';
  background: #ffffff;
}

a {
  color: #00b7ff;
}

.button-group {
	display: none;

	input {
		font-size: 5em;
		width: 1.5em;
		height: 1.5em;
		padding: 0;
		margin: 0;
	}
}

@lb-width: 250px;

@canvas-w: 1050px;
@canvas-h: 700px;
canvas {
  width: @canvas-w;
  height: @canvas-h;
}

.canvas-container {
  background: url('../images/hud/stoneCenter.png');
  width: @canvas-w + @lb-width;
  height: @canvas-h;
  margin: 0 auto;
  position: relative;
}

@red-color: #d91d1d;
.stats {
  @stats-h: 47px;

  height: @stats-h + 5px;
  width: @canvas-w + @lb-width;
  position: relative;
  margin: auto;
  padding-bottom: 5px;
  font-family: 'Corben';

  & > * {
    position: absolute;
    top: 0;
    height: @stats-h;
    background-repeat: no-repeat;
  }

  .title {
    left: 0;
    color: @red-color;
    font-size: 42px;
  }
  
  .coins {
    right: 120px;
    width: 100px;
    background-image: url('../images/hud/hud_coins.png');

    .counter {
      font-size: 36px;
      color: #e3b602;
      margin-left: 58px;
    }
  }

  .health {
    right: 0;
    width: 53px;
    background-image: url('../images/hud/hud_heartFull.png');

    &.half {
      background-image: url('../images/hud/hud_heartHalf.png');
    }

    &.empty {
      background-image: url('../images/hud/hud_heartEmpty.png');
    }
  }
}

.leaderboard {
  position: absolute;
  width: @lb-width;
  height: 100%;
  right: 0;
  top: 0;
  background: url('../images/hud/castleCenter.png');

  ol {
    font-size: 18px;
    color: #ffffff;
    li {
      &.current {
        color: @red-color;
      }

      span {
        margin-left: 10px;
        color: @red-color;
      }
    }
  }
}

.modal {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 450px;
  height: 170px;
  background-color: #ffffff;
  border: 10px solid @red-color;
  font-size: 24px;
  text-align: center;
  padding: 40px;

  & > * {
    display: block;
    margin: auto;
  }

  p {
    font-size: 28px;
    & > span {
      color: @red-color;
    }
    margin-bottom: 15px;
  }

  input {
    font-family: 'Corben';
    font-size: 28px;
    border: 5px solid black;
    margin-bottom: 30px;
    padding: 10px;
  }

  button {
    font-family: 'Corben';
    font-size: 36px;
    color: @red-color;
    border: 5px solid @red-color;
    background-color: #ffffff;
    padding: 5px;
  }
}